@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}
/* In src/app/globals.css */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Thickness of the vertical scrollbar */
}

/* --- Horizontal Scrollbar --- */
.custom-scrollbar::-webkit-scrollbar:horizontal {
  height: 4px; /* Thickness of the horizontal scrollbar */
}


/* --- Shared Styles for Track and Thumb --- */

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e6e8ff; /* Color of the track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #566fe9; /* Color of the scroll thumb */
  border-radius: 10px;
   /* Roundness of the scroll thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4359c6; /* Color of the thumb on hover */
}